.App{
  
   height: 98%;
   width: 95%;
 margin: auto;
   border-radius: 12px;
   min-height: 10px;
   background-color: rgba(243, 234, 234, 0.4);
   border:1px solid honeydew;

   /* border-style: inset; */
margin: auto;
   position: relative;
}

.header{
   height:15%;
   position: relative;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}
.title{
width: 91%;
height: 7%;
/* background-color: blanchedalmond; */
margin: auto;
font-size: 40px;
font-weight: bold;
color:rgba(89, 236, 4, 0.596);

}
.title div{
   position: relative;
   left: 7%;
}
.ody{
    float: left;
   height: 100%;
   position: relative;
 margin: auto;
 background-color: rgba(29, 29, 221, 0.01);
}

label{
   width:90%;

  color:  rgb(141, 236, 77);
  font-size: 20px;
}

.body{
   text-align: center;
      position: relative;
   top: 3%;
   color:rgb(255,255,255);
}
.body th{
    color: black;
}

.graph{
   margin: auto;
   position: relative;
   margin-top: 2%;
   width: 90%;
   height: 60%;

}
canvas{
   height: 30%;
}
@media screen and (max-width: 600px) {
  .header{
   height:25%;
   position: relative;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}
.ody{
    float: left;
  height:75%;
   position: relative;
 margin: auto;
 background-color: rgba(29, 29, 221, 0.01);
}
.header{
   height:25%;
   position: relative;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}

th,td{
   font-size: 15px;
}
 option{
    min-width: 10px;
    width: 11px;
 }

.graph{
   margin: auto;
   position: relative;
   margin-top: 7%;
   width: 100%;
   height: 45%;

}

}



