.App{
  
   height: 100%;
   width: 99%;
 margin: auto;
   border-radius: 12px;
   min-height: 10px;
   background-color: rgba(243, 234, 234, 0.2);
   border:2px solid rgba(89, 236, 4, 0.596);;

   /* border-style: inset; */
margin: auto;
   position: relative;
}

.header{
   height:15%;
   position: relative;
    background-color: black;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}
.title{
width: 100%;
height: 8%;
border-radius: 10px 10px 0px 0px;
 background-color: black;
margin: auto;
font-size: 40px;
font-weight: bold;
color:rgba(89, 236, 4, 0.596);

}
.title div{
   position: relative;
   left: 4%;
   width: 53%;
}
.ody{
    float: left;
   height: 100%;
   position: relative;
 margin: auto;
 background-color: rgba(29, 29, 221, 0.01);
}

label{
   width:90%;

  color:  rgb(141, 236, 77);
  font-size: 20px;
}

.body{
   text-align: center;
      position: relative;
   top: 2%;
   color:rgb(34, 14, 14);
}
.body th{
    color: rgb(34, 14, 14);
}

.graph{
   margin: auto;
   position: relative;
   margin-top: 1%;
   width: 90%;
   height: 57%;

}
canvas{
   height: 30%;
}
@media screen and (max-width: 600px) {
  .header{
   height:25%;
   position: relative;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}
label{
   font-size: 15px;

}
.ody{
    float: left;
  height:73%;
   position: relative;
 margin: auto;
 background-color: rgba(29, 29, 221, 0.01);
}
.header{
   height:25%;
   position: relative;
  
        /* background: url("./images/Cover.jpeg") no-repeat; */
}

th,td{
   font-size: 15px;
}
 option{
    min-width: 10px;
    width: 11px;
 }

.graph{
   margin: auto;
   position: relative;
   margin-top: 1%;
   width: 100%;
   height: 41%;

}
.title{
 width: 100%;
height: 8%;
border-radius: 10px 10px 0px 0px;
 background-color: black;
margin: auto;
font-size: 35px;
font-weight: bold;
color:rgba(89, 236, 4, 0.596);
}


}



